<p>Hi <%= @user.email %>,</p>
<p>Click the button below to reset your password.</p>

<table border="0" cellpadding="15" cellspacing="0" class="templateButton">
    <tr>
        <td valign="middle" class="templateButtonContent">
            <div mc:edit="std_content01">
                <a href="<%= @url %>" target="_blank">Reset Password</a>
            </div>
        </td>
    </tr>
</table>
