<p>Hi <%= @user.first_name %>,</p>

<p>Welcome aboard! We&rsquo;re excited to help you increase conversions. To get started, please follow the steps on <%= link_to 'your dashboard', dashboard_url %>.

<p>If you have any questions, feel free to reach out to us at <%= mail_to @support_email %>.</p>

<p>Thanks,</p>
<p>Team Rebound</p>
