#cc-expiry {
  padding-left: 0;
}

#sign-up-button-container, #sign-up-button-container .form-controls {
  padding-top: 25px;
}

a [class^="icon-flag-"], [class^="icon-flag-"], [class*=" icon-flag-"] {
  display: inline-block;
}
